@import "tailwindcss";

@layer base {
  * { box-sizing: border-box; }
  html { background: #09090b; }
  body{
    font-family: "Syne", sans-serif;
    background: #09090b;
    color: #e4e4e7;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .mono { font-family: "JetBrains Mono", monospace; }
}